* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  line-height: 1.6;
  padding: 20px;
  max-width: 1000px;
  margin: 30px auto;
  text-align: center;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
img {
  object-fit: cover;
  border-radius: 70%;
  width: 100px;
  height: 100px;
}
nav {
  display: flex;
  gap: 50px;
}
nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
nav a:hover {
  color: gray;
  transition: ease-in-out 0.5s;
  font-weight: 900;
}
h2,
h3 {
  margin: 10px 0;
  font-size: 30px;
}
h2 p {
  font-size: 20px;
}
section {
  margin-bottom: 40px;
}
figcaption {
  margin-bottom: 10px;
  font-style: italic;
  font-weight: bold;
}
label {
  font-weight: bold;
}
input {
  padding: 8px;
}
input:hover {
  border: 2px solid grey;
  transition: 0.5s;
}
button {
  background-color: rgb(32, 232, 32);
  padding: 10px;
  width: 130px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
}
button:hover {
  color: white;
  font-weight: 600;
  background-color: rgb(127, 213, 127);
  transition: 0.5s;
}
