*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    background-color:white;
    font-family:Arial, Helvetica, sans-serif;
     text-align: center;
     color: black;
     font-weight: 500;
     margin: 20px auto;
     padding: 20px;


}
header{
    font-style: italic;
    font-weight: 800;
    font-size: 30px;
   margin-bottom: 20px;

}
table{
    height:300px;
     border-collapse: collapse; 
     width: 80%; 
     text-align: center;
    
}
th{
    background-color: #4CAF50; 
    color: white; 
    padding: 10px;
}
thead{
background-color: #f2f2f2; color: #333;
}
